{% extends 'base.html.twig' %}

{% block title %}Sarbacane suite{% endblock %}

{% block body %}
{% block javascript %}
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkWtxL2EU0hLe9fQXv7umLECdugu8DJdU&libraries=places&v=weekly"
    async></script>


<script>

    function initWindow() {
        var input = document.getElementById('user_address');
        var autocomplete = new google.maps.places.Autocomplete(input, { types: ['address'] });
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
        })

        var city = document.getElementById('user_city');
        var autocomplete = new google.maps.places.Autocomplete(city, { types: ['address'] });
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
        })

    }
    google.maps.event.addDomListener(window, 'load', initWindow);

</script>


{% endblock javascript %}
<div>
    <div class="container">

        <section class="illustration-side">
            {# <img src="{{ asset('images/logo.svg') }}" alt="Logo Sarbacane Suite" /> #}
            <svg id="logo" xmlns="http://www.w3.org/2000/svg" width="261.333" height="42.165"
                viewBox="0 0 261.333 42.165">
                <g id="LOGO" transform="translate(-88.152 -147)">
                    <g id="logoSarbacane" transform="translate(88.152 147)">
                        <path id="Tracé_110" data-name="Tracé 110"
                            d="M21.083,0A21.083,21.083,0,1,0,42.165,21.083,21.1,21.1,0,0,0,21.083,0ZM15.9,19.409H27.441a4.106,4.106,0,0,1,3.514,1.673,5.12,5.12,0,0,1,.669,4.1,7.3,7.3,0,0,1-2.175,4.1,5.492,5.492,0,0,1-4.1,1.673H9.7a3.393,3.393,0,0,1,3.43-3.43H26.1c.5,0,1.841-.251,2.175-2.343s-.837-2.343-1.339-2.343H15.31A4.071,4.071,0,0,1,11.8,21.083a5.343,5.343,0,0,1-.753-4.016,6.955,6.955,0,0,1,2.259-4.1,5.78,5.78,0,0,1,4.016-1.673H32.544a3.393,3.393,0,0,1-3.43,3.43H16.732c-.5,0-1.841.251-2.175,2.343C14.139,19.158,15.394,19.409,15.9,19.409Z"
                            fill="#fff" />
                    </g>
                    <text id="Sarbacane_Suite" data-name="Sarbacane Suite" transform="translate(140.485 155.167)"
                        fill="#fff" font-size="18" font-family="Poppins-Light, Poppins" font-weight="300">
                        <tspan x="0" y="20">Sarbacane Suite</tspan>
                    </text>
                </g>
            </svg>

            <h1>Vous êtes invité !</h1>
            <p class="description">
                Afin de comptabiliser votre inscription à cet événement,
                veuillez remplir ce formulaire ci-dessous.
                Il ne vous prendra que quelques secondes <span>!</span>
                <br />
                <br />
                Nous vous fournirons l<span>'</span>ensemble des informations supplémentaires sur
                l<span>'</span>événement
                directement par e<span>-</span>mail
                après confirmation de votre participation.
            </p>
            <button>Voir le programme</button>
        </section>

        <section class="form-side">
            <div class="container-box">
                <h2>Inscription Conférence Annuelle</h2>
                <p class="description">
                    Le 23 septembre à partir de 18h00
                    <br />
                    <b>Grand Palais Paris</b>
                </p>

                {% for message in app.flashes('success') %}
                <div class="alert-success">
                    {{ message }}
                </div>
                {% endfor %}

                {{ form_start(form, {'action': path('app_home'), 'method': 'POST'}) }}

                <div class="input-group">
                    <div class="input-form">
                        {{ form_label(form.lastname) }}
                        {{ form_widget(form.lastname) }}
                    </div>

                    <div class="input-form">
                        {{ form_label(form.firstname) }}
                        {{ form_widget(form.firstname) }}
                    </div>


                    <div class="input-form">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        <div class="error_message">{{ form_errors(form.email) }}</div>
                    </div>
                    <div class="input-form">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone) }}
                        <div class="error_message">{{ form_errors(form.phone) }}</div>
                    </div>


                    <div class="input-form">
                        {{ form_label(form.company) }}
                        {{ form_widget(form.company) }}
                    </div>
                    <div class="input-form">
                        {{ form_label(form.address) }}
                        {{ form_widget(form.address) }}
                    </div>

                    <div class="input-form">
                        {{ form_label(form.zipCode) }}
                        {{ form_widget(form.zipCode) }}
                        <div class="error_message">{{ form_errors(form.zipCode) }}</div>

                    </div>
                    <div class="input-form">
                        {{ form_label(form.city) }}
                        {{ form_widget(form.city) }}
                    </div>

                    <div class="input-form">
                        {{ form_label(form.siren) }}
                        {{ form_widget(form.siren) }}
                    </div>
                    <div class="input-form">
                        {{ form_label(form.naf) }}
                        {{ form_widget(form.naf) }}
                    </div>
                </div>
                {{ form_row(form.submit) }}

                {{ form_end(form) }}
            </div>
        </section>
    </div>

    <div class="list-users">
        <p> Liste des personnes inscrites:</p>
        <table>
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Entreprise</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Siren</th>
                    <th>Naf</th>
                </tr>
            </thead>

            {% for user in users %}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.company }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.zipCode }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.siren }}</td>
                <td>{{ user.naf }}</td>

            </tr>

            {% endfor %}
            </tbody>

        </table>

        <p> Nombre de personnes inscrites avec un code NAF : {{ countUsersNafCode}} </p>

    </div>
</div>




{% endblock %}